<h1 data-controller="hello">All Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Car</th>
      <th>Starts At</th>
      <th>Ends At</th>
      <th>Accepted</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.car.user.email.split('@').first.capitalize %></td>
        <td><%= booking.car.brand %> <%= booking.car.model %></td>
        <td><%= booking.starts_at.strftime("%A, %d-%m-%Y") %></td>
        <td><%= booking.ends_at.strftime("%A, %d-%m-%Y") %></td>
        <td><%= booking.accepted ? 'Yes' : 'No' %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Return', root_path %>
<%= link_to 'New Booking', new_booking_path %>
