<div data-controller="hello">
  <input data-hello-target="name" type="text">
  <button data-action="click->hello#greet">Greet</button>
</div>


<%= simple_form_for(@booking, data: {
  controller: "flatpickr"
  }) do |f| %>
  <%= f.input :starts_at, as: :string, input_html: {class: 'fp_date_time'} %>
  <%= f.input :ends_at, as: :string, input_html: {class: 'fp_date_time'} %>
<% end %>

<%= form_with model: @booking, local: true do |form| %>
  <div>
    <%= form.label :user_id, 'User' %>
    <%= form.collection_select :user_id, User.all, :id, :email, prompt: 'Select a User' %>
  </div>

  <div>
    <%= form.label :car_id, 'Car' %>
    <%= form.collection_select :car_id, Car.all, :id, :model, prompt: 'Select a Car' %>
  </div>
  
  <div>
    <%= form.submit 'Create Booking' %>
  </div>
<% end %>
