<h1>All Cars</h1>

<div id="map" data-controller="leafletmapping" data-leafletmapping-target="map" style="height: 400px;"></div>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Year of Production</th>
      <th>Address</th>
      <th>Price Per Day</th>
      <th>Car's Owner</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.brand %></td>
        <td><%= car.model %></td>
        <td><%= car.year_of_production %></td>
        <td><%= car.address %></td>
        <td><%= car.price_per_day %></td>
        <td><%= car.user.email.split('@').first.capitalize %></td>
        <td>
          <%= link_to 'Show', car %>
          <% if policy(car).edit? %>
            <%= link_to 'Edit', edit_car_path(car) %>
          <% end %>
          <button class="show-location" data-car-address="<%= car.address %>" data-leafletmapping-target="button">Show Location</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Return', root_path %>
<%= link_to 'New Car', new_car_path %>
