<h1>New Car</h1>

<%= simple_form_for @car do |f| %>
  <%= f.input :brand %>
  <%= f.input :model %>
  <%= f.input :year_of_production %>
  <%= f.input :address %>
  <%= f.input :price_per_day %>

  <div class="actions">
    <%= f.button :submit, 'Create Car' %>
  </div>
<% end %>

<%= link_to 'Back', cars_path %>
